# 忽略所有 .git 目录
**/.git/
# 忽略所有 .idea 目录
**/.idea/
# 忽略所有 .vscode 目录
**/.vscode/
# 忽略所有 node_modules 目录
**/node_modules/
# 忽略所有日志文件
**/*.log
# 忽略所有临时文件
**/*.tmp
**/*.temp
**/*.bak
**/target

*.xlsx
*.db
*.iml

.idea
.github
docs
docker
logs
submodules
extracted

.dockerignore
Dockerfile

!docs/development/maven

*/target/**
!**/src/main/java/com/github/kklisura/cdt/protocol/v2023/commands/Target.java
!**/src/main/java/**

**/application-private.yml
application-private.yml

docker/browser4-prod/Dockerfile
docker/browser4/Dockerfile

#########
## 包含规则

!docs/development/maven

# 包含 src 目录下的 target 目录
!**/src/**/target

强调包含所有源文件
!**/src/main/java/**
!**/src/main/kotlin/**

!pulsar-app/pulsar-browser4/target/Browser4.jar
