# 忽略所有 .git 目录
**/.git/
# 忽略所有 .idea 目录
**/.idea/
# 忽略所有 .vscode 目录
**/.vscode/
# 忽略所有 node_modules 目录
**/node_modules/
# 忽略所有日志文件
**/*.log
# 忽略所有临时文件
**/*.tmp
**/*.temp
**/*.bak

*.xlsx
*.db
*.iml

.idea
.github
docs
docker
logs
submodules
extracted

*/target/**

**/application-private.yml
application-private.yml

docker/browser4-prod/Dockerfile
docker/browser4/Dockerfile

#########
## 包含规则

!docs/development/maven

强调包含所有源文件
!**/src/*

!browser4/**/target/Browser4.jar
!browser4/browser4-agents/target/Browser4.jar
