<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="DRFA" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
        <!--for further documentation-->
        <File>${pulsar.log.dir}/${pulsar.log.file}</File>
        <encoder>
            <pattern>%d{ISO8601} %t %-5p %c{2} - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${pulsar.log.dir}/${pulsar.log.file}.%d{.yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="cmdstdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %c{2} - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="ai.platon.pulsar.ql" level="DEBUG"/>
    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="ai.platon.pulsar.parse.html" level="INFO"/>
    <logger name="ai.platon.scent" level="INFO"/>
    <logger name="ai.platon.pulsar.crawl.protocol" level="TRACE"/>
    <logger name="org.apache.solr" level="INFO"/>
    <logger name="com.j256.ormlite" level="WARN"/>
    <logger name="org.apache.hadoop" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="ai.platon.pulsar.cli.shell" level="DEBUG"/>
    <logger name="ai.platon.pulsar.crawl" level="DEBUG"/>
    <logger name="org.apache.gora" level="ERROR"/>
    <logger name="org.apache.hadoop.mapreduce.Job" level="INFO"/>
    <logger name="ai.platon.pulsar" level="DEBUG"/>
    <logger name="ai.platon.scent.extract" level="TRACE"/>
    <logger name="ai.platon.pulsar.net" level="TRACE"/>
    <logger name="ai.platon.pulsar.crawl.component" level="TRACE"/>
    <logger name="org.apache.hadoop.conf.Configuration" level="INFO"/>
    <root level="INFO">
        <!--<appender-ref ref="DRFA"/>-->
        <appender-ref ref="cmdstdout"/>
    </root>
</configuration>