<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
    <property name="logging.dir" value="${logging.dir:-logs}" />
    <property name="logging.prefix" value="${logging.prefix:-pulsar}" />
    <property name="logging.file" value="${logging.prefix}.log" />

    <!-- Special task relative logs -->
    <property name="logging.s.file" value="${logging.prefix}.s.log" />
    <property name="logging.c.file" value="${logging.prefix}.c.log" />
    <property name="logging.m.file" value="${logging.prefix}.m.log" />
    <property name="logging.hv.file" value="${logging.prefix}.hv.log" />
    <property name="logging.sql.file" value="${logging.prefix}.sql.log" />
    <property name="logging.pg.file" value="${logging.prefix}.pg.log" />
    <property name="logging.api.file" value="${logging.prefix}.api.log" />
    <property name="logging.bs.file" value="${logging.prefix}.bs.log" />
    <!-- Data collector -->
    <property name="logging.dc.file" value="${logging.prefix}.dc.log" />

    <!--0. 日志格式和颜色渲染 -->
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%.10t]){faint} %clr(%c{2}){cyan} %clr(-){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <property name="DRFA_LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%.10thread] %-5level %logger{26} - %msg%n"/>

    <!-- Stop logback status INFO at the start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="DRFA" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logging.dir}/${logging.file}</File>
        <encoder>
            <pattern>${DRFA_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.dir}/${logging.file}.%d{.yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="SERVER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logging.dir}/${logging.s.file}</File>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%.10thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.dir}/${logging.s.file}.%d{.yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="HARVEST" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logging.dir}/${logging.hv.file}</File>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%.10thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.dir}/${logging.hv.file}.%d{.yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="PAGES" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logging.dir}/${logging.pg.file}</File>
        <encoder>
            <pattern>${DRFA_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.dir}/${logging.pg.file}.%d{.yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="API" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logging.dir}/${logging.api.file}</File>
        <encoder>
            <pattern>${DRFA_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.dir}/${logging.api.file}.%d{.yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="BROWSER" class="ch.qos.logback.core.FileAppender">
        <File>${logging.dir}/${logging.bs.file}</File>
        <append>true</append>
        <encoder>
            <pattern>%d{ISO8601} --- %m%n</pattern>
        </encoder>
    </appender>

    <appender name="METRICS" class="ch.qos.logback.core.FileAppender">
        <File>${logging.dir}/${logging.m.file}</File>
        <append>true</append>
        <encoder>
            <pattern>%d{ISO8601} --- %m%n</pattern>
        </encoder>
    </appender>

    <appender name="COUNTERS" class="ch.qos.logback.core.FileAppender">
        <File>${logging.dir}/${logging.c.file}</File>
        <append>true</append>
        <encoder>
            <pattern>%d{ISO8601} --- %m%n</pattern>
        </encoder>
    </appender>

    <appender name="SQL" class="ch.qos.logback.core.FileAppender">
        <File>${logging.dir}/${logging.sql.file}</File>
        <encoder>
            <pattern>%d{ISO8601} --- %m%n</pattern>
        </encoder>
    </appender>

    <appender name="COLLECT" class="ch.qos.logback.core.FileAppender">
        <File>${logging.dir}/${logging.dc.file}</File>
        <encoder>
            <pattern>%d{ISO8601} --- %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DRFA"/>
    </root>

    <logger name="ai.platon.scent" level="INFO">
        <appender-ref ref="SERVER"/>
    </logger>
    <logger name="ai.platon.scent.proxy" level="INFO">
        <appender-ref ref="SERVER"/>
    </logger>
    <logger name="ai.platon.scent.crawl.parser" level="INFO">
        <appender-ref ref="SERVER"/>
    </logger>
    <logger name="ai.platon.scent.analysis" level="INFO">
        <appender-ref ref="SERVER"/>
    </logger>

    <logger name="ai.platon.scent.ql.h2.context" level="INFO">
        <appender-ref ref="SERVER"/>
    </logger>

    <logger name="ai.platon.scent.rest.api.schedule" level="INFO">
        <appender-ref ref="SERVER"/>
    </logger>
    <logger name="ai.platon.scent.rest.api.service.scrape" level="INFO">
        <appender-ref ref="SERVER"/>
    </logger>

    <logger name="ai.platon.scent.rest.api.service.v1.ScrapeServiceV1.Task" level="INFO" additivity="false">
        <appender-ref ref="API"/>
    </logger>
    <logger name="ai.platon.scent.rest.api.service.v2.ScrapeServiceV2.Task" level="INFO" additivity="false">
        <appender-ref ref="API"/>
    </logger>

    <logger name="ai.platon.scent.parse.html.AbstractSinkAwareSQLExtractor.Task" level="DEBUG" additivity="false">
        <appender-ref ref="PAGES"/>
    </logger>
    <logger name="ai.platon.scent.crawl.diffusing.AbstractPageProcessor.Task" level="INFO" additivity="false">
        <appender-ref ref="PAGES"/>
    </logger>

    <logger name="ai.platon.scent.analysis" level="INFO" additivity="true">
        <!--        <appender-ref ref="CONSOLE"/>-->
    </logger>
    <logger name="ai.platon.scent.ml" level="INFO" additivity="true">
<!--        <appender-ref ref="CONSOLE"/>-->
    </logger>
    <logger name="ai.platon.scent.analysis.corpus.AnalysablePageCorpus.Task" level="INFO" additivity="false">
        <appender-ref ref="HARVEST"/>
    </logger>
    <logger name="ai.platon.scent.ml.semisupervised.NodeClusterRunner.Task" level="INFO" additivity="false">
        <appender-ref ref="HARVEST"/>
    </logger>

    <logger name="ai.platon.pulsar" level="INFO">
        <appender-ref ref="SERVER"/>
    </logger>
    <logger name="ai.platon.pulsar.skeleton.crawl.impl.StreamingCrawler" level="INFO">
        <appender-ref ref="SERVER"/>
    </logger>
    <logger name="ai.platon.pulsar.skeleton.crawl.component" level="INFO">
        <appender-ref ref="SERVER"/>
    </logger>

    <logger name="ai.platon.pulsar.browser" level="INFO" additivity="false">
        <appender-ref ref="BROWSER"/>
    </logger>
    <logger name="ai.platon.pulsar.browser.driver.chrome.impl" level="WARM" additivity="false">
        <appender-ref ref="BROWSER"/>
    </logger>

    <logger name="ai.platon.pulsar.protocol.browser.emulator.context" level="INFO">
        <appender-ref ref="SERVER"/>
    </logger>
    <logger name="ai.platon.pulsar.protocol.browser.emulator.BrowserEmulateEventHandler" level="INFO">
        <appender-ref ref="SERVER"/>
    </logger>

    <logger name="ai.platon.pulsar.skeleton.crawl.impl.StreamingCrawler.Task" level="INFO" additivity="false">
        <appender-ref ref="PAGES"/>
    </logger>
    <logger name="ai.platon.pulsar.skeleton.crawl.component.LoadComponent.Task" level="INFO" additivity="true">
<!--        <appender-ref ref="CONSOLE"/>-->
        <appender-ref ref="PAGES"/>
    </logger>
    <logger name="ai.platon.pulsar.protocol.browser.emulator.BrowserEmulator.Task" level="INFO" additivity="false">
        <appender-ref ref="PAGES"/>
    </logger>
    <logger name="ai.platon.pulsar.skeleton.common.collect.HyperlinkExtractor" level="INFO" additivity="false">
        <appender-ref ref="PAGES"/>
    </logger>
    <logger name="ai.platon.pulsar.skeleton.common.collect.FatLinkExtractor" level="INFO" additivity="false">
        <appender-ref ref="PAGES"/>
    </logger>

    <logger name="ai.platon.pulsar.skeleton.common.metrics.MetricsSystem" level="INFO" additivity="false">
        <appender-ref ref="METRICS"/>
    </logger>
    <logger name="ai.platon.pulsar.skeleton.common.metrics.AppMetrics" level="INFO" additivity="false">
        <appender-ref ref="METRICS"/>
    </logger>

    <logger name="ai.platon.pulsar.skeleton.common.CounterReporter" level="INFO" additivity="false">
        <appender-ref ref="COUNTERS"/>
    </logger>
    <logger name="ai.platon.pulsar.ql.h2.utils.Jdbc" level="INFO" additivity="false">
        <appender-ref ref="SQL"/>
    </logger>
    <logger name="ai.platon.pulsar.common.collect" level="INFO" additivity="false">
        <appender-ref ref="COLLECT"/>
    </logger>

    <logger name="ai.platon.exotic" level="INFO">
<!--        <appender-ref ref="CONSOLE"/>-->
    </logger>
    <logger name="ai.platon.exotic.driver" level="INFO">
<!--        <appender-ref ref="CONSOLE"/>-->
    </logger>

    <logger name="ch.qos.logback.classic" level="WARN"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.data" level="WARN"/>

    <!-- Suppress Warning: JodaTime converters -->
    <!-- See https://github.com/spring-projects/spring-data-commons/issues/1729 -->
    <logger name="org.springframework.data.convert.CustomConversions" level="ERROR"/>

    <logger name="de.flapdoodle.embed.mongo" level="WARN"/>
    <!-- Suppress Warning: Embedded MongoDB fails to shutdown gracefully -->
    <!-- See https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/152 -->
    <logger name="de.flapdoodle.embed.mongo.runtime.Mongod" level="ERROR"/>
    <logger name="de.flapdoodle.embed.mongo.AbstractMongoProcess" level="ERROR"/>

    <logger name="org.mongodb" level="WARN"/>

    <logger name="org.apache.hadoop.conf.Configuration" level="WARN"/>
    <logger name="org.apache.gora" level="ERROR"/>

</configuration>
