<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="120 seconds" debug="false">
    <property name="logging.dir" value="logs" />
    <property name="logging.file" value="pulsar-test.log" />

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="DRFA" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
        <!--for further documentation-->
        <File>${logging.dir}/${logging.file}</File>
        <encoder>
            <!--<pattern>%d{ISO8601} %t %-5p %c{2} - %m%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.dir}/${logging.file}.%d{.yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="cmdstdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ai.platon.pulsar" level="DEBUG" />
    <logger name="ai.platon.pulsar.ql" level="DEBUG" />
    <logger name="ai.platon.pulsar.net" level="DEBUG" />
    <logger name="ai.platon.pulsar.net.browser" level="DEBUG" />
    <logger name="ai.platon.pulsar.crawl" level="DEBUG" />
    <logger name="ai.platon.pulsar.crawl.component" level="DEBUG" />
    <logger name="ai.platon.pulsar.crawl.protocol" level="DEBUG" />
    <logger name="ai.platon.pulsar.browser.driver" level="INFO" />

    <logger name="ai.platon.pulsar.parse.html" level="DEBUG" />

    <logger name="org.apache.gora" level="ERROR" />
    <logger name="org.apache.hadoop.mapreduce.Job" level="INFO" />
    <logger name="org.apache.hadoop.conf.Configuration" level="INFO" />
    <logger name="org.apache.zookeeper" level="ERROR" />
    <logger name="org.apache.solr" level="INFO" />
    <logger name="org.apache.hadoop" level="WARN" />
    <logger name="org.springframework" level="WARN" />
    <logger name="io.netty.channel.AbstractChannelHandlerContext" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="DRFA"/>
        <appender-ref ref="cmdstdout"/>
    </root>
</configuration>
