<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true" scanPeriod="30 seconds">
    <property name="logging.dir" value="${logging.dir:-logs}" />
    <property name="logging.file" value="${logging.file:-pulsar.log}" />
    <property name="logging.c.file" value="${logging.c.file:-pulsar.c.log}" />
    <property name="logging.m.file" value="${logging.m.file:-pulsar.m.log}" />
    <property name="logging.sql.file" value="${logging.sql.file:-pulsar.sql.log}" />
    <property name="logging.pg.file" value="${logging.pg.file:-pulsar.page.log}" />

    <!--0. 日志格式和颜色渲染 -->
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%.10t]){faint} %clr(%c{2}){cyan} %clr(-){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="DRFA" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logging.dir}/${logging.file}</File>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%.10thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.dir}/${logging.file}.%d{.yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="METRICS" class="ch.qos.logback.core.FileAppender">
        <File>${logging.dir}/${logging.m.file}</File>
        <append>true</append>
        <encoder>
            <pattern>%d{ISO8601} --- %m%n</pattern>
        </encoder>
    </appender>

    <appender name="COUNTERS" class="ch.qos.logback.core.FileAppender">
        <File>${logging.dir}/${logging.c.file}</File>
        <append>true</append>
        <encoder>
            <pattern>%d{ISO8601} --- %m%n</pattern>
        </encoder>
    </appender>

    <appender name="SQL" class="ch.qos.logback.core.FileAppender">
        <File>${logging.dir}/${logging.sql.file}</File>
        <encoder>
            <pattern>%d{ISO8601} --- %m%n</pattern>
        </encoder>
    </appender>

    <root level="${log.level:-INFO}">
        <appender-ref ref="DRFA"/>
        <appender-ref ref="Console"/>
    </root>

    <logger name="ai.platon.pulsar.common.metrics.MetricsSystem" level="INFO" additivity="false">
        <appender-ref ref="METRICS"/>
    </logger>

    <logger name="ai.platon.pulsar.common.CounterReporter" level="INFO" additivity="false">
        <appender-ref ref="COUNTERS"/>
    </logger>

    <logger name="ai.platon.pulsar.ql.h2.log" level="INFO" additivity="false">
        <appender-ref ref="SQL"/>
    </logger>

    <logger name="org.apache.gora" level="ERROR"/>
    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="org.apache.solr" level="INFO"/>
    <logger name="org.apache.hadoop" level="WARN"/>

    <logger name="org.springframework.context" level="INFO"/>
    <logger name="org.springframework.core" level="INFO"/>
    <logger name="org.springframework.core.env" level="INFO"/>

    <!-- Debug chrome. Be sure to remove or turn the logger off, when done. -->
    <logger name="com.github.kklisura.cdt.launch.chrome.output" level="DEBUG"/>

    <logger name="ai.platon.pulsar" level="INFO"/>
    <logger name="ai.platon.pulsar.common" level="WARN"/>
    <logger name="ai.platon.pulsar.context" level="WARN"/>
    <logger name="ai.platon.pulsar.session" level="DEBUG"/>
    <logger name="ai.platon.pulsar.ql" level="DEBUG"/>
    <logger name="ai.platon.pulsar.ql.context" level="DEBUG"/>

    <logger name="ai.platon.pulsar.net" level="INFO"/>
    <logger name="ai.platon.pulsar.browser" level="DEBUG"/>
    <logger name="ai.platon.pulsar.parse.html" level="INFO"/>
    <logger name="ai.platon.pulsar.crawl.parse" level="INFO"/>
    <logger name="ai.platon.pulsar.crawl" level="INFO"/>
    <logger name="ai.platon.pulsar.crawl.protocol" level="DEBUG"/>
    <logger name="ai.platon.pulsar.protocol.browser" level="DEBUG"/>
    <logger name="ai.platon.pulsar.protocol.browser.driver" level="DEBUG"/>

    <logger name="ai.platon.pulsar.crawl.component" level="INFO"/>
    <logger name="ai.platon.pulsar.protocol.browser.emulator.BrowserResponseHandler" level="INFO"/>
    <logger name="ai.platon.pulsar.protocol.browser.emulator.context" level="INFO"/>

<!--    <logger name="ai.platon.pulsar.browser.driver.chrome" level="TRACE"/>-->

    <logger name="ai.platon.pulsar.examples" level="INFO"/>

</configuration>
