# .dockerignore
**/target/
**/logs/
**/.git/
**/.idea/
**/test/
**/docs/
**/examples/
**/samples/
**/benchmarks/
**/performance/
**/stress/
**/load/
**/security/
**/compliance/
**/legal/
**/privacy/
**/terms/
**/gdpr/
**/ccpa/
**/pipeda/
**/pdpa/
**/pipL/
**/pipL/

pulsar-app/pulsar-example/
pulsar-app/pulsar-tests/

python/
data/
