<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds" debug="false">
    <property name="logging.dir" value="${logging.dir:-logs}" />
    <property name="logging.file" value="${logging.file:-pulsar.log}" />

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%.10thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${log.level:-INFO}">
        <appender-ref ref="stdout"/>
    </root>

    <logger name="ai.platon.pulsar" level="INFO"/>
    <logger name="ai.platon.pulsar.persist" level="INFO"/>
    <logger name="ai.platon.pulsar.browser" level="WARN"/>
    <logger name="ai.platon.pulsar.browser.driver.chrome.impl" level="WARN"/>

    <logger name="org.apache.gora.mongodb.store" level="INFO"/>
    <logger name="org.apache.gora" level="INFO"/>

</configuration>
