<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds" debug="false">
    <property name="logging.dir" value="${logging.dir:-logs}" />
    <property name="logging.file" value="${logging.file:-pulsar.log}" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%.10thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <root level="${log.level:-WARN}">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Stop logback status INFO at the start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <logger name="ai.platon.pulsar.browser.driver.chrome" level="TRACE"/>

</configuration>
